<div class="container col-md-12" ng-controller="accordionController">
    <pre class="text-info">
        讲解一下
        <pre class="alert-warning">
            引自:
            国人博客
            http://www.cnblogs.com/HeJason/p/5316075.html
            UI Bootstrap官网-需翻墙
            http://angular-ui.github.io/bootstrap/
            吐槽:相见恨晚,为啥木有中文
        </pre>
        Accordion 分为两个部分
　　　　<strong class="label-info">1.uib-accordion</strong>
　　　　　　close-others：支持表达式和常量（默认：true), 只允许打开一个？
　　　　　　template-url:（默认template/accordion/accordion.html）模板地址
　　　　<strong class="label-info">2.uib-accordion-group</strong>
　　　　　　heading ： 默认（空）
　　　　　　is-open：支持表达式，并且可$watch（默认:false）
　　　　　　is-disabled:支持表达式，并且可$watch（默认:false）
　　　　　　panel-class : 可$watch（默认：panel-default）
　　　　　　template-url ： （默认：uib/template/accordion/accordion-group.html）
    </pre>
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">面板切换</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">启用、禁用第一个模版</button>
    </p>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="oneAtATime"> 一次只打开一个
        </label>
    </div>
    <uib-accordion close-others="oneAtATime">

        <uib-accordion-group heading="默认header, 基本扩展" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            This content is straight in the template.
        </uib-accordion-group>

        <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
            {{group.content}}
        </uib-accordion-group>

        <uib-accordion-group heading="静态header,动态content">
            <p>The body of the uib-accordion group grows to fit the contents</p>
            <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">添加项目</button>
            <div ng-repeat="item in items">{{item}}</div>
        </uib-accordion-group>

        <uib-accordion-group heading="删除内容" panel-class="panel-danger">
            <p>Please, to delete your account, click the button below</p>
            <button class="btn btn-danger">Delete</button>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
                I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">展开</i>
            </uib-accordion-heading>
            This is just some content to illustrate fancy headings.
        </uib-accordion-group>

    </uib-accordion>
</div>